$lightBlue: #85D3F5;
$Blue: #428bca;
#antecedentes { background-color: white; color: #428bca; border:none;}
#antecedentes:hover {text-decoration: underline}
div.actividad-fisica {
	margin-left: 0px !important;
	margin-right: 0px !important;	
	> form { 
		> div { padding-bottom: 5px !important; }
		> div.clearfix > div.column { padding: 0px;}
		> div > div {
			> div {
				> label { font-weight: normal; padding: 0px; };
				> input { padding: 6px 5px; };
			}
			label { 
				> input { margin-left: 0px !important; margin-right: 5px !important; }
				font-weight: normal; text-align: left !important; padding: 0px !important; 
			};

		}
	}
}
.nav-pills > li > a { border-radius: 0px !important; }
#nav-antecedentes  > li > a, .nav-pills > li.active > a, .nav-pills > li.hover > a { background-color: white !important; }
#nav-antecedentes  > li > a { color: #444; }
#nav-antecedentes  > li.hover > a { color: $Blue; }
#nav-antecedentes  > li.active > a { color: #444 ; font-weight: bold; right: 5px; color: #444; border-left: 5px solid $Blue; }
#nav-antecedentes  > li:not(:hover)> a { color: #444 !important; }
#nav-antecedentes > li > a { padding: 7px 0px 7px 15px !important ; }

div.alert-act { 
	margin-bottom: 5px;
	padding-left: 0px;
	> ol { margin-bottom: 0px ;}
}
.has-feedback .form-control-feedback { top: 45px; right: 0; }
.form-validator .has-feedback .form-control-feedback { top: 0; right: 15px; }

#nav-antecedentes  > li.hover > a { color: #85D3F5; }
div.agregar-med { margin-top: 20px; padding-left: 0px; padding-right: 0px; }
div.ajuste-med { padding-left: 0px; padding-right: 0px;}
div.ajuste-alergia { padding-top: 100px; }
div.ajuste-separacion > div.row { margin-bottom: 35px !important;  margin-top: 35px !important;}
div.ajuste-new-ant-fam { min-height: 400px !important; padding-top: 0px; padding-bottom: 0px; }
div.modal-lg2 { width: 850px !important; }
div.modal-lg3 { width: 950px !important; }