// Place all the styles related to the atenciones_salud controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lightGreen: #DFF6DF;
$blue: #428bca;
$blueFooter: #B5DBFF;
$lightBlue: #85D3F5;
$mediumBlue: #D9EDF7;
/* formulario de atención de salud */

#submit {	float: right; }
.panel-body{ padding: 0px !important; }
.panel-body-ajustado{ padding: 10px !important; }
.table { margin-bottom: 0px; }
#examen-div, #procedimiento-div, #medicamento-div { margin-bottom: 0px; }

div.list-group {
  margin-bottom: 0px;
  padding-top: 13px;
  padding-bottom: 15px; 
  a.list-group-item {
    padding: 2px 1px 3px 5px;
    font-size: 13px;
    height: 26px;
    p.ajuste { width: calc(100% - 80px); display: inline-block; };
    p.ajuste2 { width: calc(100% - 210px); display: inline-block; };
    span.ajuste { top: -5px; position: relative; }
  }
}

div.select2-container{ font-size: 13px; }

.boton-auge{
  position: relative;
  bottom: 1px;
  float: right;
  padding: 1px !important;
  margin-bottom: 0px !important; 
  margin-left: 1px;
  display: inline-block;
}
.boton-eno{
  position: relative;
  bottom: 1px;
  float: right;
  padding: 1px !important;
  margin-bottom: 0px !important; 
  display: inline-block;
}

label { margin: 0px;}
p { margin: 0px; }

textarea.form-control {
  resize: vertical;
  font-size: 14px;
  line-height:100%;
  margin-bottom: 5px;
  padding: 6px;
  font-weight: normal;
 }

.div-form-atencion{ padding-top: 10px; padding-bottom: 5px;}

div.tab-content {
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border: 1px solid #dddddd;
  border-radius: 0px 4px 4px 4px;
}

a.panel_tab { border-color: #dddddd !important; } 

.form-estado {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

input.datepicker, input.datepicker-disabled {
  width: 165px;
  border-style: solid !important;
  border: 1px solid #dddddd !important;
  border-radius: 3px !important;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 20px;
  text-align: right;
}

.nav-tabs { border-bottom: none !important; }
.disabled { cursor: not-allowed !important; }

#auto-motivo,#auto-indicaciones,#auto-examen,.comentario,.auto-int-comment,#auto-anamnesis,#auto-act_fis_fre,#auto-act_fis_tie,#auto-hab_alc_fre,#auto-hab_alc_tip,#auto-hab_alc_can {
  float: right;
  padding: 3px !important;
  margin-bottom: 0px!important;
  display: none;
}

#div_atenciones, #guardar-ant-soc-span { display: none; }
#modal-dialog-metricas { width: 680px; }
div.footer{ margin-top: 20px !important; }

label.checkbox-der { font-weight: bold !important; }

a.btn-large{
  padding: 6px 12px !important;
  float: right;
}

h1.enc-ges{
  font-size: 16px;
  color: white;
  padding: 10px 15px;
  background-color: #428bca;
  padding: 10px 15px;
  border-radius: 4px;
  letter-spacing: 0px;
  margin: 0px;
  margin-bottom: 5px;
}

div.panel-group { margin-bottom: 5px !important; }
div.ges{ margin-bottom: 0px; }
p.texto_font_bajo { font-size: 13px; line-height: 1.25; }

label.firma {
  text-decoration: overline;
  margin: auto;
  display: table;
}

label.pie_firma {
  margin: auto;
  display: table;
  font-weight: normal;
}

div.firma{ padding-top: 40px; }

div.panel-ges {
  padding: 15px 0px !important;
  font-size: 13px;
}

div.trat{ padding-top: 26px !important; }
label.trat{ font-weight: normal !important; }
.form-ges { margin: 0px !important; }
.icon-eno, .icon-ges, .icon-con, .icon-estado { color: green !important; }

div.ajuste-eno { 
  display: inline-block;
  margin: 0px 0px 0px 0px !important;
}

.fc-event-time { 
  font-weight: bold !important;
  font-size: 12px !important;
}
.fa-child{ float: right;}
.not-ges{ 
  width: 250px !important;
  display: inline-block !important;
  height: 30px !important;
  padding: 3px 6px !important;
}
.not-ges2{ 
  width: 150px !important;
  display: inline-block !important;
  height: 30px !important;
  padding: 3px 6px !important;
}
.select-ges{ 
  width: 150px !important;
  display: inline-block !important;
}
.ges-div { 
  display:none;
  margin-top: 5px !important;
}
.panel-ges2,.panel-int2{ 
  margin: 10px 0px;
  padding: 0px;  
}
.a-ges{ 
  display: block;
  color: #2a6496 !important;
  text-decoration: underline;
  font-size: 14px !important;
  margin-bottom: 10px !important;
}
.select-per{ margin: 0px; padding: 5px 0px 15px 0px !important;}
div.ajuste-ges{ padding: 0px !important; }
.colum-ajuste-eno { padding: 0px !important; }
input.sem-ges , input.dias-rep { width: 50px; display: inline; padding: 6px 3px; height: 25px; margin-top: 5px;}
label.eno { padding-top: 7px;}
span.eno { top: 4px; position: relative;}
label.com-int { float: top;}
#qtip-growl-container{
    position: fixed;
    top: 100px; right: 10px;     
}
#qtip-growl-container .qtip {
  position: static;
  min-height: 0;
  overflow: hidden;
  margin: 0 0 5px 0;
}
div.metricas {
  min-width: 400px;
  height: 200px;
  margin: 0 auto;
}
.ajus-pos-right { float: right; margin-left: 5px !important; }
.ajus-padd-bott { padding-bottom: 10px; }
input.ajuste-select { width: 400px !important; }

a.select2-choice, a.select2-default { height: 30px !important; }
.ajuste-margin-top { margin-top: 25px !important; }
.right { float: right; }
.left { float: left;}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.ajuste-padding { padding-left: 0px !important; padding-right: 0px !important; }
.ajuste-modal-header { padding: 15px 15px 5px 15px !important;}

.form-horizontal .form-group {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 5px;
}

small.help-block { min-width: 200px; position: relative !important; }
div.ajuste-height { min-height: 520px !important; }
.select_ocupacion { float: left !important; margin-bottom: 20px !important; }
div.ajuste-margin { margin-top: 5px !important; }
#modal-agregar-persona { margin-left: 10px;}
div.ajuste-top { width: 90%; margin-top: 300px; } 
div.agregar-persona {
  div.row {
    div.column{
      padding-right: 10px !important; padding-left: 0px !important;
    }
  }
  div { 
    div {            
      div.input-group { 
        margin-top: 25px !important;
        div { display: block !important; }
        input { 
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 4px !important;
          border-top-left-radius: 0px;
          border-top-right-radius: 4px !important;
        }
      } 
      div.date { margin-top: 5px !important;}
    }
  }
}
div.no-padding-right-left { padding-right: 0px !important; padding-left: 0px !important; }
div.no-padding-top { padding-top: 0px !important; }
div.ajuste-padding { padding-left: 10px !important; }
div.ajuste-left { padding-left: 100px !important; }
span.ajuste-bottom { padding-left: 20px !important; position: relative !important; top: 26px !important; }
span.ajuste-guion { padding-right: 5px; position: relative; float: left; top: 5px; margin-top: 25px !important }
input.dv {
  width: 80% !important;
  border-bottom-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
}
select.codigo, input.telefono, input.otra-relacion {
  border-bottom-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
}
.ajuste-row { padding-top: 15px !important; }
div.otra-relacion-div { display: none; }
div.ajuste-parentesco { margin-top: 10px !important; }
.ajuste-top-fecha { margin-top: 7px; }
div.footer { width: 100%;}
select.select_persona{  width: 270px !important; }
div.ajus-mar-top { margin-top: 15px; }
input.ajuste-posicion { display: inline-block !important; width: 95%; float: right !important ;}
div.ajus-margen { margin: 0px;}
div.float-right { float:right;}
select.float-right { float:right; }
#ajuste-motivo { padding: 0px; margin: 0px 0px 10px 0px;}
#modal-dialog-signos { width: 70%;}
#modal-dialog-antecedentes { width: 90%;}
a.active-ant, a.active-ant:focus { background-color: $lightGreen; color: $blue;}
div.margin-top { margin-top: 5px;}
input.width_300 { width: 300px !important; }

.modal { overflow-y: scroll !important; }
.modal-open { overflow: scroll !important; }

