/* colors */
$blue: #428bca;
$blueFooter: #B5DBFF;
$lightBlue: #85D3F5;
$mediumBlue: #D9EDF7;
$lightGray: #444;
$verylightGray: #ddd;
$lightGreen: #DFF0D8;
$white: white;

html { overflow-y: scroll; }
html, body.aplicacion { 
  margin:0;
  padding:0; 
  height: 100% !important;
}

#wrapper {
  min-height:100%;
  position:relative;
}

body.aplicacion > div > div.container { min-height: 100% !important; width: 90%; padding: 0px 0px 60px 0px; }
div.col-ant { padding-left: 0px; padding-right: 0px;}
div.well > div.row > div.col-md-4 { padding-right: 0px; }

footer.footer-layout {
  border-top: 1px dotted #428bca !important;
  height: 60px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 20px 0px;
  color: $lightGray !important;
  background-color: $mediumBlue;
  li > a { color: $blue !important; }
  li > a:hover { color: $lightGray !important; }
} 

nav.navbar-index { 
  background-color: #F1F8FF !important; 
  border-bottom: 1px dotted $blue !important;
  border-radius: 0px; 
  min-height: 0px;
}

nav.navbar-index > div > div > ul > li > a { color: $blue !important; letter-spacing: 1px; }
nav.navbar-index > div > div > ul > li.active > a { background-color: $blue !important; color: white !important; }
nav.navbar-index > div > div > ul > li:hover > a { background-color: $mediumBlue !important; color: white !important; }
div.container { width: 100%; }

section { overflow: auto; }
h1, h2, h3, h4, h5, h6 { line-height: 1;}
h2 { font-size: 21px !important; }
h3 { font-size: 26px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; margin-top: 0px; }

div.ajuste-signin {
  text-align: center;
  div > form {
    a { color: $blue !important;  }
    a:hover { color: $lightGray !important; }
    div.label_div { text-align: left; font-weight: normal; width: 500px; padding-left: 190px; }
    div.label_div > label { font-weight: normal; }
  }
  h2.heading { letter-spacing: 2px !important; color: $lightGray; };
}
div.ajuste-signin > div.intro-text2 > div.alert-danger { width: 600px; margin: auto; position: relative; padding: 7px; margin-top: 10px; margin-bottom: 30px; }
.ajuste-recuperar { margin-top: 50px; }
#recuperar-error { padding: 7px; }

.row { margin: 0px; }
.ajustado {
  padding-left: 0px !important;
  padding-right: 0px !important;
  div.row > .column { padding-left: 0px !important; padding-right: 0px !important; }
}

.checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
}

.row-buscar-hora {
  margin-top: 10px;
  margin-left:auto;
  margin-right:auto;
}

.medicamento,.metrica {
  padding: 0px 6px;
  margin: 0px 6px;
}
.text-med {
  margin-left: 12px; 
}

a.btn { padding: 0px; }

div.horas_agendadas {
  padding: 0px;
}
div.ultimos_eventos {
  padding-right: 0px;
  padding-left: 5px;
}

div.panel-home { padding: 0px; }
table.table { }
table.table-log { font-size: 11px; }
.table thead.ajust-head>tr>th{ vertical-align: middle; font-weight: bold; text-align: left}
.table tbody>tr>td{ padding: 2px; vertical-align: middle; font-size: 12px; }

span.head-text{
  float:right;  
  font-size: 13px;
  position: relative;
  top: 2px;
}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active { cursor: progress; }
 
.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner { width: 10px; }
.has-spinner.btn-small.active .spinner { width: 13px; }
.has-spinner.btn.active .spinner { width: 16px; }
.has-spinner.btn-large.active .spinner { width: 19px; }
.row-ajustado { margin-left: 20px; }
.table thead.ajust-head > tr > th { font-weight: normal; }
#new_user, #new_password { width: 900px; }
div.ajuste-ant { padding: 0px 5px 0px 0px; }
div.ajuste-ant2 { padding: 0px 0px 0px 0px; }
#antecedentes-div { padding: 5px 0px 0px 0px; } 
#diagnostico-anterior-div { padding: 0px 0px 15px 0px; } 
span.nota { font-size: 12px; }
div.div-spinner{ margin: 0 auto; width: 10%; display: block; }

th.fc-widget-header { font-weight: normal !important; }

.dataTables_wrapper .dataTables_paginate .paginate_button { padding: 0px !important; margin: 0px !important; }
.fc-time-grid-event.fc-short .fc-time:after { content: "" !important; }
 #log-actualizaciones { margin-bottom: 10px; }

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] { position: relative !important; }

fieldset {
  border: 1px dashed #c0c0c0 !important;
  margin: 0px 0px 10px 0px !important;
  padding: 5px 10px 2px 10px !important;
  border-radius: 6px;
}

legend {
  font-weight: bold;
  padding: 0px 7px !important;
  margin: 0px !important;
  border: 0px!important;
  font-size: 14px !important;
  width: inherit !important;
}

input.ajuste-motivo{
  display: inline-block;
  width: 70%;
  float: right;
  padding: 0px 6px;
  height: 25px;
}

input.ajuste-motivo-dental{
  display: inline-block;
  width: 70%;
  padding: 0px 6px;
  height: 25px;
}

input.ajuste-cen-der {
  width: 95%;
  display: inline-block;
  padding: 0px 6px;
  height: 25px;
}
div.ajuste-padding2 { padding-left: 0px; padding-right: 0px;}
span.ajus-fl-left {float: left; }
.no-padding { padding: 0px !important; }
.help-block { color: #a94442; }
.help-block-gray { color: #737373; display: block; margin-top: 5px; margin-bottom: 10px; }
.fc-event { border: 1px solid $verylightGray;} 

table.print { 
  width: 100%;
  font-size: 12px;
  border-width: 0 0 1px 1px;
  border-spacing: 0;
  border-collapse: collapse;
  border-color: #ddd;
  border-style: solid;
  td {
    border-color: #ddd;
    border-style: solid;
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
  }
 }

h2.print { text-transform: uppercase; text-decoration: underline; } 
h5.uppercase, h6.uppercase, label.uppercase { text-transform: uppercase; font-weight: bold; } 
h6.uppercase { font-size: 16px; margin-bottom: 10px;}
label.folio { display: block; float: right; }
span.print { font-weight: bold; }
label.print { display: block; text-align: center; }
td.firma { padding-top: 60px !important ; }
.logo-bottom { vertical-align: text-bottom; }
.div-bottom { position: absolute; bottom: -1020px; right:0px; }
.div-bottom2 { position: absolute; bottom: -2035px; right:0px; }
td.enc_tab_int { background-color: #444; color: white; text-align: center; text-transform: uppercase; }

table.print2 { 
  font-size: 14px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  margin-bottom: 15px;  
  td { padding: 10px; } 
}
table.print3 { 
  width: 100%; 
  margin-bottom: 20px;
  td { text-align:center; };
  td.overline { text-decoration: overline; font-weight: bold; }
}
.no-margin-top { margin-top: 0px; }
label.uppercase { margin-top: 10px; }
ol.print { line-height: 1; font-size: 11px; }
table.print4 { 
  font-size: 14px;
  width: 100%; 
  margin-bottom: 20px;
  td.uppercase { text-transform: uppercase; }
}

input.fecha, input.fecha-mes, input.agno {
  display: inline-block;
  width: 150px;
  height: 30px;
  margin-top: 1px;
}

div.div-diag-cert { display: inline;}

.bold { font-weight: bold !important; }

/*Fix problema de borde izquierdo de select3 al colocar float:right y inline-block; */
.select2-choice, .select2-default { overflow: visible !important; }

.margin-right { margin-right: 10px;}

form.button_to { display: inline-block; padding-right: 3px;}
.padding-left { padding-left: 10px; }
.padding-top { padding-top: 10px; }

div.menu-inicial {
  padding-bottom: 10px;
  > div {
    div.col-md-3 { padding-right: 0px; }
    div.col-md-9 { padding-right: 0px; padding-left: 0px; }
  }
}
div.tab-inicial { min-height: 500px; }
div.ajuste-div-sexo { padding-top: 10px !important; margin-bottom: 5px !important; }
.prevent-break-line { position: relative; display: inline-block; }
.padding-bottom { padding-bottom: 15px !important; }
#iconos-leyenda { padding-top: 10px !important; padding-bottom: 10px !important; }
td.padding-left { padding-left: 10px; }
.padding-top-5 { padding-top: 5px; }