// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* colors */
$blue: #428bca;
$blueFooter: #B5DBFF;
$lightBlue: #85D3F5;
$lightGray: #999;

.logo { width: 40%; padding-top: 7px; }
.logo-top { float: left; padding-top: 5px; }
.logo-top2 { padding-top: 5px;}
.div-contact { padding-left: 10%; padding-right: 10%; }
.ajuste-hover:hover { color: $blue !important; }
.ajuste-hover { margin-right: 20px; }
.glyphicon-envelope{ margin-right: 0px !important; }
.text-primary { color: #fed136; }
.navbar-ajuste { margin-top:50px !important; }
.navbar-ajuste2 { background-color: rgba(1, 1, 1, 0.6) !important; }
#navbar-intro > div.container { margin: auto; width: 1300px; }

div.signin { width: 300px; margin: auto; }
a { text-decoration: none !important; }
h4.brand { margin:0px !important; padding:0px!important; }
div.encabezado { background-color: rgba(1, 1, 1, 0.4);}
nav.encabezado { border-radius: 0px; margin-bottom: 0px; width: 1200px; margin: auto;}
span.glyphicon { margin-left: 15px; margin-right: 7px; }

a.contacto {
	letter-spacing: 1px;
	color: white;
	margin-top: 15px;
	margin-bottom: 0px;
	float: left;	
}

div.intro-text, div.intro-text2, div.intro-text3, div.intro-text4 {
	form {
		a { color: white }
    input { letter-spacing: 1px; }
		input.btn-primary  { letter-spacing: 1px; font-weight: normal; margin: auto; width: 50%; margin-top: 10px; }
		letter-spacing: 1px;
		width: 600px;
		margin: auto;
		div.checkbox { 
			text-align: left;
			/*margin-left: 180px;*/
			width: 150px;
			label { padding-left: 0px; }
		}	
		input.label_better { 
			color: $lightGray; 
      background-color: white !important;
			padding-top: 5px; 
			letter-spacing: 1px; 
			width: 100%;
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 4px !important;
			border-top-left-radius: 0px;
			border-top-right-radius: 4px !important;
		}
	}
}

div.intro-text2 {
  form {    
    div.checkbox { 
      margin-left: 180px;
    } 
  }
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { background-color: white !important; }

div.intro-text { form { div.input-group { margin: auto; width: 50%; margin-top: 30px; } } }
div.intro-text2 { form { div.input-group { margin: auto; width: 50%; margin-top: 0px; } } }
div.intro-text3 { form { margin-top: 10px; div.input-group { margin: auto; width: 80%; margin-top: 20px; } } }
div.intro-text3 { margin-bottom: 50px; }
div.intro-text4 { form { margin-top: 50px; div.input-group { margin: auto; width: 80%; margin-top: 20px; } } }


#contactForm { width: 1000px; margin: auto;}

div.lb_label { width: 200px; text-align: left; top: auto !important;}

form.contactForm {
  letter-spacing: 1px;
  div > div {
    .btn-large { width: 300px; margin: auto; letter-spacing: 1px; font-weight: normal; margin-top: 10px; }
    div {
      input.label_better2, textarea { 
        margin-top: 30px;
        color: $lightGray; 
        letter-spacing: 1px; 
        width: 100%;             
      }
      textarea { height: 162px; line-height: 160%; padding: 6px 12px; }
    }
  }
}

i.form-control-feedback { display: none !important;}
.has-feedback .form-control { padding-right: 12px !important; }

div.ajuste-rut { margin-left: 40px !important; margin-right: 0px !important; }
label.ajuste-fecha { font-weight: normal !important; float: left; margin-left: 80px;}

span.digito_verificador { 
  position: relative;
  right: 40px;
  top: 25px;
}

span.ajuste-sexo { float: left; margin-left: 80px; }
div.ajuste-sexo {float: left; width: 100%; }
span.ajuste-sexo2 { float: left; margin-left: 20px; }
div.ajuste-sexo3 {float: left; width: 100%; margin-left: 40px;}
.text-muted {letter-spacing: 1px; color: white; font-size: 18px;}

.fecha-nacimiento { width: 300px !important; float: right; margin-right: 40px; }
input.datepicker, input.datepicker-disabled , .ui-datepicker { /*z-index: 3 !important;*/ }
small.error-rut, small.error-password, small.error-fecha  { color: #a94442; display: none; }
span.glyphicon-calendar { margin: 0px; } 


/* Se cambian los bordes verdes y rojos de bootstrap validation por los bordes originales*/
.input-group-addon { color: #555555 !important; border: 1px solid #cccccc !important; /* border-right:none !important; */ }
.form-control:focus {
  border-color: #66afe9 !important;
  outline: 0 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
}
.form-control{ border: 1px solid #cccccc !important; } 

p { font-size: 14px; line-height: 1.75; }
p.large { font-size: 16px; }

a,
a:hover,
a:focus,
a:active,
a.active { outline: 0; }

a:hover,
a:focus,
a:active,
a.active { color: $blue !important; }

.active-ajuste { background-color: rgba(255, 255, 255, 0.15); }
h2.heading { letter-spacing: 2px !important; }
.img-centered { margin: 0 auto; }
.bg-darkest-gray { background-color: #222; }

.btn-primary {    
    text-transform: uppercase;
    font-weight: 700;
}   

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #fed136;
    background-color: #fed136;
}

.btn-xl .badge {
    color: #fed136;
    background-color: #fff;
}

.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
		color: $blue;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: $blue;   
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #fed136;
    background-color: #fed136;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fed136;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #fed136;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    //background-color: #fed136;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}

@media(min-width:768px) {
    .navbar-default {
       /* padding: 25px 0;*/
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }


    .navbar-default.navbar-shrink {
        /*padding: 10px 0;*/
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.bg-pattern-horizontal {
  background-image: asset-data-url("pattern_horizontal.png") !important;
  background-repeat: repeat;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; 
}

.bg-pattern-vertical {
  background-image: asset-data-url("pattern_vertical.png") !important;
  background-repeat: repeat;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; 
}

section.bg-pattern-horizontal {
  background-image: asset-data-url("pattern_horizontal.png") !important;
  background-repeat: repeat;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; 
}

section.bg-pattern-vertical {
  background-image: asset-data-url("pattern_vertical.png") !important;
  background-repeat: repeat;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; 
}

body.home { 
  overflow-x: hidden;  
  color: white;
  text-align: center;
  background-attachment: fixed !important;
  background-image: asset-data-url("bg1.jpg");
  -webkit-transition:background-image 1s ease-out; 
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

section {
    padding: 100px 0;
    height: 900px;
}

section h2.section-heading {
    color: $blue;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: 1px;
}

section h3.section-subheading {
	letter-spacing: 1px;
  margin-bottom: 75px;
  text-transform: none;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
 	color: white;
}

@media(min-width:768px) {
    section {
        padding: 100px 0;
    }
}

.service-heading {
  font-weight: bold;
  margin: 15px 0;
  text-transform: none;
  letter-spacing: 1px;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
  img { margin: 0 auto; border: 7px solid #fff; }
  h4 { margin-top: 25px; margin-bottom: 0; text-transform: none;}
  p { margin-top: 0; }
}

footer {
  margin-top: 0px;
  letter-spacing: 1px;
  padding: 25px 0;
  text-align: center;
  background-color: rgba(1, 1, 1, 0.4);
  span.copyright { letter-spacing: 1px; }
  a { color: white !important;}
  ul { margin-top: 0px; margin-bottom: 0px; }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

div.feedback { display: none; }
.col-rut { width: 330px !important; padding-right: 0px;}
.dv { padding: 6px 8px; width: 35px !important; }
.ajuste-pad-right { padding-right: 0px;}
.ajuste-pad-left { padding-left: 0px;}

div.center{
  margin: auto;
  width: 50%;
}