<!DOCTYPE html>
<html class="aplicacion">
<head>
  <title><%= AplicacionMedica::Application.config.site_name %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= render 'layouts/shim' %>
</head>
<body class="aplicacion">
  <div id="wrapper">
  <%= render 'layouts/header' %>
  <div class="container">
    <%= yield %>   
  </div>
  <%= render 'layouts/footer' %>
  </div>
</body>
</html>

